* {
  font-family: Arial, Helvetica, sans-serif;
  font: 14px/1.5;
  overflow-x: hidden;
  background-color: #008fe2;
  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
}

/* global container sets the width to 80 to be responsive, margin: auto moves the text with the browser, and if there is text too big for the page, there will be no scroll bar at the bottom, instead it will hide it */

.container {
  width: 80%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
}

/* header */

header #logo {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

header #logo img {
  height: auto;
  margin: 0;
}

header a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 2em;
  letter-spacing: 0.1em;
}
header {
  border-bottom: 5px solid #ff9b00;
}

header li {
  display: inline;
  padding: 0em 0em 0em 2em;
}

header nav {
  float: right;
  margin-top: 2em;
}

header a:hover {
  color: #ff9b00;
  font-weight: bold;
}

nav #wraparound {
  text-align: center;
  width: 100%;
  margin-top: 1em;
}

nav .navigation_menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  letter-spacing: 0.1em;
}

nav .navigation_menu li {
  display: inline-block;
  padding: 0.25em 5em 0em 5em;
}

nav .navigation_menu a:hover {
  color: #ff9b00;
}

.burger {
  display: none;
  padding: 0.25em 1em 0.25em 0.25em;
}

.burger div {
  width: 1.5em;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 20px 5px 0px;
  cursor: pointer;
  transition: all 0.5s ease;
}

footer {
  padding: 1em;
  color: #ffffff;
  position: sticky;
  bottom: 0;
  width: 100%;
}
#border_above {
  border-bottom: 3px solid #ff9b00;
  width: 100%;
  text-align: center;
}

footer p {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer li {
  text-transform: uppercase;
  padding-bottom: 0.25em;
}
@media screen and (max-width: 768px) {
  header #logo,
  header nav,
  header nav li,
  header a {
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navigation_menu {
    position: absolute;
    right: 0px;
    height: 60%;
    top: 12em;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translate(100%);
    transition: transform 0.5s ease-out;
    background-color: #008fe2;
  }
  .burger {
    display: block;
    float: right;
  }

  .navigation_menu_active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 1055px) {
  header #logo,
  header nav,
  header nav li,
  header a {
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5em 0em 0.5em 0em;
    padding-inline: 8px;
  }
  nav .navigation_menu li {
    float: none;
    text-align: center;
    width: 100%;
    display: block;
    padding: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  footer {
    height: 9em;
    width: 100%;
  }
  footer ul,
  footer li {
    display: inline;
    display: flex;
    padding: 0em 0.5em 0em 0.5em;
  }
}

/*  THE ABOVE IS PURELY FOR THE DESIGN OF THE HEADER, NAVIGATION, FOOTER, and BANNER  */

section {
  min-height: 500px;
}
